<h1 mat-dialog-title>
  {{
    editingCourse
      ? "Editando a " + editingCourse.name 
      : "Creando usuario"
  }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="coursesForm" class="grid">
    <!-- CAMPO DE NOMBRE -->
    <!-- CAMPO DE NOMBRE -->
    <!-- CAMPO DE NOMBRE -->
    <div class="col-6 field">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Curso</mat-label>
        <input formControlName="name"  matInput type="text" name="name" />
        <!-- ERRORES -->
        <mat-error *ngFor="let error of nameControl.errors | keyvalue">
          {{ error | controlErrorMessage }}
        </mat-error>
      </mat-form-field>

      
    </div>
    <!-- CAMPO DE NOMBRE -->

    


  </form>
</div>
<div class="flex justify-content-end" mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="onSubmit()" type="submit" mat-button>Guardar</button>
</div>
